<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>


<p th:unless="${cheeses} and ${cheeses.size()}"> Please Add Cheese first. </p>

<p th:text="${errorMsg}"></p>

<form method="post" th:if="${cheeses} and ${cheeses.size()}">

    <div class="checkbox">
        <table class="table">

            <tr>
                <th>Check</th>
                <th>Name</th>
                <th>Description</th>
            </tr>

            <tr th:each="cheese : ${cheeses}">
                <td><input name="delCheese" th:id="${cheese.cheeseID}" th:value="${cheese.cheeseID}" type="checkbox"/>
                </td>
                <td th="${cheese.name}" th:text="${cheese.name}"></td>
                <td th="${cheese.description}" th:text="${cheese.description}"></td>
            </tr>

            <br/>
        </table>
    </div>

    <!--<input th:if="${delCheese.size()}" type="submit" value="Delete Cheese"/>-->
    <input type="submit" value="Delete Cheese"/>
</form>

</body>
</html>