<!DOCTYPE html>
<html lang="en" xml:th="http:\\www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title th:text="${title}">Default Title</title>
</head>
<body>

<nav th:fragment="navigation">
    <a href="/cheese">List</a>
    <a href="/cheese/add">Add</a>
</nav>

<h1 th:text="${title}">Default</h1>


<!-- check if cheeses is passed and is not empty-->
<p th:unless="${cheeses} and ${cheeses.size()}">No Cheeses :( </p>

<ul>
    <li th:each="cheese : ${cheeses}" th:text="${cheese}"></li>
</ul>
</body>
</html>