<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container body-content">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${cheeses} and ${cheeses.size()}">Please Add Cheeses. No Cheese to display.</p>

<div th:if="${cheeses} and ${cheeses.size()}">

    <table class="table table-striped table-bordered">
        <caption>List of Chesses</caption>
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Ratings</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tr th:each="cheese, iterStat : ${cheeses}">
            <td th:text="${iterStat.count}"></td>
            <td th:text="${cheese.name}"></td>
            <td th:text="${cheese.description}"></td>
            <td th:text="${cheese.category.name}"></td>
            <td th:text="${cheese.ratings}"></td>
            <td><a th:href="@{'/cheese/edit/' + ${cheese.category.id}}">edit</a></td>
        </tr>

    </table>
</div>
</body>
</html>