<!DOCTYPE html>
<html lang="en" xml:th="http:\\www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title th:text="${title}">Default Title</title>
</head>
<body>

<nav th:fragment="navigation">
    <a href="/cheese">List</a>
    <a href="/cheese/add">Add</a>
</nav>

<h1 th:text="${title}">Default</h1>


<!-- check if cheeses is passed and is not empty-->
<p th:unless="${cheeses} and ${cheeses.size()}">No Cheeses :( </p>


<div th:if="${cheeses} and ${cheeses.size()}">
    <form method="post">
        <input name="deleteCheeses" type="submit" value="Delete Cheeses"/>
        <br/><br/>
        <table border="1">
            <tr>
                <td>Cheese name</td>
                <td>Description</td>
                <td>Check to delete</td>
            </tr>
            <tr th:each="cheese: ${cheeses}">
                <td th:text="${cheese.key}"></td>
                <td th:text="${cheese.value}"></td>
                <td><input name="delCheese" th:value="${cheese.key}" type="checkbox"/><a href="/cheese/del">Delete</a>
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>